# Composer
/vendor

#node_modules
/node_modules
/.yalc
yalc.lock

# System and IDE files
.DS_Store
.idea

# Cypress
cypress.env.json
/tests/cypress/screenshots
/tests/cypress/videos

# Built-app files
/.docs
/build/*
/wp-plugin-bluehost
/bluehost-wordpress-plugin

# File Types
*.log
*.sql
*.zip

# GitHub Action related files and directories
/translation-action-scripts
